TELEGRAM_BOT_TOKEN="8561097180:AAHiyV5CHX4HBv3F8LBI2ru7uN4j1F2BaMg"
TELEGRAM_CHAT_ID="7210299921"
GEMINI_API_KEY="your-api-key"
NODE_ENV="development"
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_UMAMI_SRC="your-umami-script-url"
NEXT_PUBLIC_UMAMI_ID="your-umami-website-id"