@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-boldonse: "Boldonse";
  --font-primary: "Quicksand";
  --font-secondary: "Montserrat";

  --color-main-yellow: #fffce1;
  --color-secondary: oklch(0.765 0.177 163.223);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply spotlit-bg text-white font-secondary mx-2;
  }
}

@utility spotlit-bg {
  @apply bg-gradient-to-br from-black via-zinc-900 to-black;
}
@utility sections-container {
  @apply 2xl:container mx-auto;
}
@utility silver-text {
  @apply bg-linear-to-b from-neutral-50 to-neutral-400 bg-clip-text text-transparent;
}

@layer utilities {
  .TitleGradientText {
    background: linear-gradient(
      90deg,
      rgba(0, 255, 135, 1) 0%,
      rgba(174, 251, 42, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 50s linear infinite;
}

/* Add borders between cells */
.bento-grid > div {
  border-right: 1px solid rgb(31, 41, 55, 0.7);
  border-bottom: 1px solid rgb(31, 41, 55, 0.7);
}

/* Remove right border from last column */
.bento-grid > div:nth-child(3n) {
  border-right: none;
}

/* Remove bottom border from last row */
.bento-grid > div:nth-child(n + 4):nth-child(-n + 6) {
  border-bottom: none;
}

@utility btn {
  @apply bg-secondary text-black font-bold px-10 py-3 rounded-lg   hover:bg-secondary/75 transition-all;
}

.BoldStockBtn {
  box-shadow: 4px 4px 0 0 var(--color-main-yellow);
}

.BoldStockBtn:hover {
  box-shadow: 5px 5px 0 0 var(--color-main-yellow);
}
