@keyframes rotate {
  from {
    rotate: 0deg;
    transform: rotate(0deg);
  }

  to {
    rotate: 50deg;
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate 10s infinite alternate;
}
.bigSpinner {
  animation: rotate 8s infinite alternate;
}
