---
import {
  DetailsBento,
  Hero,
  Skills,
  ProjectNext,
  Contact,
  Footer,
} from "@/features/homepage";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
  <div class="min-h-screen flex flex-col justify-evenly">
    <Hero />
    <DetailsBento client:visible />
  </div>
  <Skills client:visible />
  <ProjectNext client:visible />
  <Contact client:visible />
  <Footer client:visible />
</Layout>
