---
import { DetailsBento, Hero, Skills } from "@/features/homepage";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
  <div class="min-h-screen flex flex-col justify-evenly">
    <Hero />
    <DetailsBento />
  </div>
  <Skills />
</Layout>
