@tailwind base;
@tailwind components;
@tailwind utilities;

.TitleGradientText {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 135, 1) 0%,
    rgba(174, 251, 42, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@layer components {
  /*! global  */

  .silver-text {
    @apply bg-opacity-50 bg-gradient-to-b from-neutral-50 to-neutral-400 bg-clip-text text-transparent;
  }

  .title {
    @apply flex items-center justify-center text-2xl font-bold text-paste;
  }
  .into-center {
    @apply flex items-center justify-center;
  }
  .eachSections {
    @apply w-full px-4 pb-3 pt-10;
  }

  .SubTitle {
    @apply mb-2 mt-10 text-xl font-bold;
  }
  .slides {
    @apply flex text-mastery;
  }
  .underBorder {
    @apply w-full rounded-md border-b-2 border-sup p-2 outline-none transition-all lg:p-3 2xl:p-4;
  }

  .contact-input-wrapper {
    @apply my-4 grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 50s linear infinite;
}
