@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-boldonse: var(--font-boldonse);
  --color-main-yellow: #fffce1;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply bg-black text-white
  }
}

@utility silver-text {
  /*! global  */
  @apply bg-linear-to-b from-neutral-50 to-neutral-400 bg-clip-text text-transparent;
}

@utility underBorder {
  @apply w-full rounded-md border-b-2  p-2 outline-hidden transition-all lg:p-3 2xl:p-4;
}

@utility contact-input-wrapper {
  @apply my-4 grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-2;
}

@layer utilities {
  .TitleGradientText {
    background: linear-gradient(
      90deg,
      rgba(0, 255, 135, 1) 0%,
      rgba(174, 251, 42, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 50s linear infinite;
}
