@keyframes waveGneretor {
  0% {
    clip-path: polygon(44% 69%, 74% 76%, 99% 70%, 100% 100%, 0 99%, 0 72%, 19% 77%);
  }

  100% {
    clip-path: polygon(44% 69%, 72% 63%, 99% 70%, 100% 100%, 0 99%, 0 72%, 20% 64%);
  }
}

.wave {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;

  /* clip-path: polygon(
    44% 69%,
    72% 63%,
    99% 70%,
    100% 100%,
    0 99%,
    0 72%,
    20% 64%
  ); */
  animation: waveGneretor 1s infinite alternate;
}
