---
import ogImg from "@/assets/others/og.png";
import favicon from "@/assets/others/favicon.ico";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <!-- Metadat -->
    <title>Md Kawsar Islam Yeasin</title>
    <meta
      name="description"
      content="I am yeasin from Dhaka and I am 21 years old. I'm a self-taught front-end focused Full Stack Web Developer. TypeScript and Nextjs enthusiast..."
    />
    <meta name="author" content="Md Kawsar Islam Yeasin" />
    <meta
      name="keywords"
      content="Md Kawsar Islam Yeasin, Software Developer, Web Developer, yeasin, yeasin2002, Full Stack Developer, Frontend Developer, Backend Developer, JavaScript Developer, Python Developer, Next.js Developer, React Developer, Node.js Developer, Express.js Developer, Vue.js Developer, Angular Developer, HTML, CSS, Tailwind CSS, MongoDB, Firebase, AWS, Git, GitHub, RESTful API, Agile Development, CI/CD, DevOps, Bangladesh Developer, Dhaka Tech, Bangladesh Web Development"
    />

    <!-- OpenGraph -->
    <meta property="og:title" content="Md Kawsar Islam Yeasin" />
    <meta
      property="og:description"
      content="Portfolio of Md Kawsar Islam Yeasin, a software Developer, Front end web developer, and designer from Bangladesh."
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_IE" />
    <meta property="og:url" content="https://yeasin2002.vercel.app/" />
    <meta property="og:site_name" content="Md Kawsar Islam Yeasin" />
    <meta property="og:image" content={ogImg.src} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Md Kawsar Islam Yeasin" />

    <!-- Twitter Card (optional) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Md Kawsar Islam Yeasin" />
    <meta
      name="twitter:description"
      content="Portfolio of Md Kawsar Islam Yeasin, a software Developer from Bangladesh."
    />
    <meta name="twitter:image" content={ogImg.src} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Md Kawsar Islam Yeasin</title>
  </head>
  <body>
    <slot />
    <Analytics />
  </body>
</html>
