<footer
  class="w-full bg-[rgba(71,85,105,.2)] text-[hsla(0,0%,100%,.85)] py-4 px-6 text-center text-xs md:text-lg"
>
  <p>
    © {new Date().getFullYear()} yeasin2002.
    <span class="mx-2">All rights reserved.</span>
  </p>
</footer>
